# Build files
.gradle
#.vscode
.kotlin
build

# IDE files
*.iml
.idea/*
!.idea/icon.png
/captures

# Configuration files
local.properties

# macOS specific files
.DS_Store

/app/src/main/assets/client_secrets.json
/app/google-services.json
*.jks
