name: Delete Merged Branch

on:
  pull_request:
    types: [closed]

jobs:
  delete_merged_branch:
    runs-on: ubuntu-latest
    if: github.event.pull_request.merged == true
    steps:
      - name: Checkout repository
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4

      - name: Delete branch
        run: |
          branch_name=$(echo "${{ github.event.pull_request.head.ref }}")
          if [ "$branch" != "refs/heads/main" ] && [ "$branch" != "refs/heads/master" ]; then
            echo "Deleting branch ${branch_name}"
            git push origin --delete $branch_name
          else
            echo "Skipping deletion of main or master branch"
          fi
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
